.btn {
  border-style: none;
  cursor: pointer;
  width: 200px;
  background: none;
  margin: 10px 0;
  font-size: large;
}
.btn:hover {
  color: rgb(214, 23, 23);
}
.btn-group {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.App {
  width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btn1 {
  margin-left: 10px;
  background-color: burlywood;
}
